/* You can add global styles to this file, and also import other style files */
@import "styles/theme.scss";
@import "styles/layout.scss";

p-listbox {
    &.content-label-all .ui-widget-header.ui-corner-all.ui-listbox-header.ui-listbox-header-w-checkbox.ng-star-inserted:after {
        content: "Adicionar todos";
        display: inline;
    }

    .ui-listbox-header .ui-listbox-filter-container .ui-listbox-filter-icon {
        display: none !important;
    }

    .ui-widget-header.ui-listbox-header {
        background-color: #e8e8e8;
        border: none;
        border-bottom: 1px solid #bdbdbd;
    }

    .ui-listbox .ui-listbox-header .ui-chkbox .ui-chkbox-box {
        border-color: #757575;
    }

    .ui-widget-header .ui-inputtext {

        background-image: linear-gradient(to bottom, #2A67BC, #2A67BC), linear-gradient(to bottom, #bdbdbd, #bdbdbd);

        &:focus {
            background-image: linear-gradient(to bottom, #2A67BC, #2A67BC), linear-gradient(to bottom, #bdbdbd, #bdbdbd);
        }
    }

}
