<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-md-offset-3 ui-lg-4 ui-lg-offset-4">

            <div class="card no-margin">

                <h1>algo a ser colocado...</h1>

                <form [formGroup]="formGroup">

                    <div *ngIf="formGroup" class="ui-g form-group">

                        <div class="ui-g-12">

                            <span class="ui-float-label">
                                <input pInputText
                                       formControlName="username"
                                       id="credential-login-recovery-username"
                                       maxlength="254">
                            </span>

<!--                            <app-form-messages [control]="formGroup.get('username')"></app-form-messages>-->

                        </div>

                    </div>

                </form>

                <div class="ui-g form-group">
                    <div class="ui-g-12">

                        <button pButton
                                type="submit"
                                (click)="resetPassword()"
                                [disabled]="isDisabledSubmit()"
                                class="primary ui-button-fluid"
                                icon="fa ui-icon-check">
                        </button>

                        <a pButton
                           [routerLink]="['/']"
                           class="secondary ui-button-fluid mt-1"
                           icon="fa ui-icon-chevron-left">
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
