@import "../../../assets/sass/variables";

.background-image {
    background: url(../../../assets/layout/images/banner_home.jpg) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.mask-background {
    background-color: #73A942;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.4;
}

.card.card-w-title {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
    background: #73A942;
}

button {
    width: 100% !important;
    display: block;
}

h1 {
    font-family: "Raleway";
    margin: 0 auto 30px;
    color: #fff !important;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    display: block;

    b {
        font-size: 42px;
        font-weight: 900;
        display: block;
    }
}

.margin-auto{
    margin: 0 auto;
    display: block;
}

.pos-center {
    margin-top: 50%;
}

input {
    color: #fff;
}

label {
    color: #fff;
}
