/database/database.sqlite.bkp
/public/hot
/public/storage
/public/.htaccess
/storage/*.key
/vendor
/coverage
/.vscode
/.vagrant
/bin/*
.idea
Homestead.json
Homestead.yaml
.env
/.sonar
/docker-compose.override.yml
.scannerwork
*.iml
*.lock
package-lock.json
.DS_Store
/ci
xe*
.env
